{% extends 'base.html' %}
{% load static tailwind_tags %}
{% block title %}
    <title>Booking Details</title>
{% endblock %}
{% tailwind_css %}

{% block content %}
<body>
    <h1>Booking Details</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <h2>Package Details:</h2>
            <p><strong>Package Name:</strong> {{ package.name }}</p>
            <p><strong>Description:</strong> {{ package.description }}</p>
            <p><strong>Price:</strong> ${{ package.price }}</p>
        </div>
        <div>
            <h2>User Information:</h2>
            <p><strong>Check-in Date:</strong> {{ start_date }}</p>
            <p><strong>Number of Guests:</strong> {{ num_guests }}</p>
        </div>
        <div>
            <button type="submit">Confirm Booking</button>
        </div>
    </form>
    <form action="https://rc-epay.esewa.com.np/api/epay/main/v2/form" method="POST">
        <input type="text" id="amount" name="amount" value="{{ package.price }}" required>
        <input type="text" id="tax_amount" name="tax_amount" value ="10" required>
        <input type="text" id="total_amount" name="total_amount" value="110" required>
        <input type="text" id="transaction_uuid" name="transaction_uuid" value="{{transaction_id}}">
        <input type="text" id="product_code" name="product_code" value ="EPAYTEST" required>
        <input type="text" id="product_service_charge" name="product_service_charge" value="0" required>
        <input type="text" id="product_delivery_charge" name="product_delivery_charge" value="0" required>
        <input type="text" id="success_url" name="success_url" value="http://127.0.0.1:8000/" required>
        <input type="text" id="failure_url" name="failure_url" value="http://127.0.0.1:8000/" required>
        <input type="text" id="signed_field_names" name="signed_field_names" value="total_amount={{package.price}},transaction_uuid={{transaction_id}},product_code=EPAYTEST" required>
        <input type="text" id="signature" name="signature" value="{{signature}}" required>
        <input value="Submit" type="submit">
        </form>
</body>
{% endblock %}
