{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
	
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
</head>
<body class="bg-gradient-to-r from-blue-400 to-gray-200">

<div class="container mx-auto mt-20">
    <div class="max-w-md mx-auto bg-white p-8 rounded shadow-md">
        <h2 class="text-2xl font-bold mb-4">Change Password</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-4">
                <label for="id_old_password" class="block text-sm font-semibold mb-2">Old Password</label>
                <input type="password" id="id_old_password" name="old_password" class="w-full border rounded px-3 py-2">
            </div>
            <div class="mb-4">
                <label for="id_new_password1" class="block text-sm font-semibold mb-2">New Password</label>
                <input type="password"
                    id="id_new_password1"
                    name="new_password1"
                    class="w-full border rounded px-3 py-2"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{8,}"
                    title="Password must contain at least one lowercase letter, one uppercase letter, one number, one special character, and be at least 8 characters long"
                >

            </div>
            <div class="mb-6">
                <label for="id_new_password2" class="block text-sm font-semibold mb-2">Confirm New Password</label>
                <input type="password" id="id_new_password2" name="new_password2" class="w-full border rounded px-3 py-2" title="Password must contain at least one lowercase letter, one uppercase letter, one number, one special character, and be at least 8 characters long">
            </div>
            <div class="flex justify-between items-center">
                <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white px-6 py-3 rounded">Change Password</button>
                {% if is_vendor %}
                    <a href="{% url 'vendor_settings' %}" class="inline-block bg-gray-300 hover:bg-gray-400 text-gray-800 px-6 py-3 rounded">Cancel</a>
                {% else %}
                    <a href="{% url 'settings' %}" class="inline-block bg-gray-300 hover:bg-gray-400 text-gray-800 px-6 py-3 rounded">Cancel</a>
                {% endif %}
            </div>
        </form>
    </div>
</div>

<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
{% for flashmsg in messages %}
<script>
    
        alertify.set('notifier','position', 'top-right');
        alertify.success('{{ flashmsg }}');
    
</script>
{% endfor %}

</body>
</html>
