{% extends 'base.html' %} {% load static tailwind_tags custom_tags%} {% block title %} 

Destinations
{% endblock %} {% tailwind_css %}
<link
  rel="stylesheet"
  href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"
/>
<!-- Default theme -->
<link
  rel="stylesheet"
  href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<style>
  .carousel-container {
      overflow: hidden; 
  }
</style>


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
{% block content %}

<body class="bg-gray-100">

  <div class="container mx-auto py-8">
    <div class="relative bg-white p-8 rounded-lg shadow-lg">
        <!-- Carousel Container -->
        <div class="overflow-hidden relative">
            <div id="carousel" class="flex transition-transform ease-in-out duration-700">
                {% for image in product_images %}
                <div class="min-w-full flex-shrink-0 cursor-pointer">
                  <img src="{{ image.images.url }}" alt="{{ product.title }}" style="height: 400px; object-position: center;" class="w-full object-cover object-center transition-opacity duration-300 hover:opacity-90" onclick="openModal(this.src)">

                </div>
                {% empty %}
                <p class="text-center text-gray-800">No images available.</p>
                {% endfor %}
            </div>
        </div>
        <!-- Navigation Buttons -->
        <button id="prev" class="absolute top-1/2 left-4 transform -translate-y-1/2 bg-white text-gray-800 font-bold rounded-full p-3 focus:outline-none hover:bg-gray-100 shadow-lg">
            &lt;
        </button>
        <button id="next" class="absolute top-1/2 right-4 transform -translate-y-1/2 bg-white text-gray-800 font-bold rounded-full p-3 focus:outline-none hover:bg-gray-100 shadow-lg">
            &gt;
        </button>
    </div>

    <!-- Modal for Image Preview -->
    <div id="imageModal" class="fixed inset-0 bg-black bg-opacity-70 flex items-center justify-center p-4 hidden">
      <div class="relative bg-white rounded-lg shadow-lg overflow-hidden max-w-3xl w-full mx-auto">
          <img id="modalImage" src="" alt="Preview Image" class="max-h-[80vh] w-auto mx-auto">
          <button onclick="closeModal()" class="absolute top-0 right-0 text-white text-3xl p-2">
              &times;
          </button>
      </div>
  </div>
  
</div>






      <!-- Product details -->

      <!-- Check Availability section -->
  

    <!-- </div> -->
    <div class="flex flex-col space-y-5 md:flex-row md:space-x-5 md:space-y-0 justify-between ">
      <div class="bg-gray-200 p-5 flex flex-col flex-1 space-y-5 rounded-md">
        <h1 class = 'text-2xl'>Package Details</h1>
        <h2 class="text-xl font-semibold" style="text-decoration: underline;">{{ product.title }}</h2>

        <p class="text-gray-700 mb-2">{{ product.description }}</p>
        <div class = 'flex space-x-28 text-gray-600'>
          <div>
            <p>Category: {{product.category.title}}</p>
            
          </div>
          
          <div>
            <p>Vendor: {{ product.user }}</p>
            
          </div>
          
        </div>
        <h2 class = 'text-xl font-semibold'>Price: Rs.{{ product.price }}</h2>
        <div class = 'text-gray-600'>
          <p style="text-decoration: line-through ;">Original Price: <span style="text-decoration: line-through;">{{ product.old_price }}</span></p>

          <p class="text-green-700">Discount: <span>{{ product.get_percentage|default:"0"|floatformat:0 }}%</span></p>
        </div>

      </div>
      <!-- Check Availability -->
      <div class="flex flex-col justify-between w-fit md:w-1/2 mt-6 md:mt-0 bg-white p-5 rounded-md bg-gray-200">
        
        <form
          action="{% url 'check_availability' product.pid %}"
          method="POST"
          onsubmit="return checkAvailability(this);"
        >
          {% csrf_token %}
          <div class = 'mb-3'>
            <h2 class ='text-xl font-semibold'>Check Availability</h2>
          </div>
          <div class="mb-2">
            <label
              for="startDate"
              class="block text-gray-700 text-sm font-bold mb-2"
              >Check-in Date:</label
            >
            <input
              type="date"
              id="startDate"
              name="startDate"
              class="rounded-l-lg p-2 border border-gray-200 bg-white w-full"
              required
              onfocus="setMinDate()"
          />
          </div>
          <div class="mb-4">
            <label
              for="num_guests"
              class="block text-gray-700 text-sm font-bold mb-2"
              >Guests:</label
            >
            <input
              type="number"
              id="num_guests"
              name="num_guests"
              class="p-2 border-t border-b border-r border-gray-200 bg-white w-full"
              placeholder="Number of Guests"
              required
              min="1"
            />
            <p class="text-gray-700 text-sm">
              *10% Discount on More Than 4 Guests
            </p>
          </div>

  
          <button
            type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-3"
          >
            Check Availability
          </button>
        </form>
        <div class="mt-4 text-gray-700 text-sm">
          <p>
            Enter your check-in date and number of guests to check availability.
          </p>
        </div>
      </div>
    </div>
    
    <div class="mt-8 p-6 shadow-lg rounded-lg bg-white">
      <h2 class="text-2xl font-semibold">Product Reviews <i class="fas fa-comments"></i></h2>
      <p class="text-gray-600 mb-4">{{ reviews|length }} Reviews</p>
      <div class="space-y-4">
        {% for review in reviews %}
        <div class="bg-gray-100 p-4 rounded-lg hover:bg-gray-200 transition duration-200">
          <div class="p-4 rounded-lg">
            <div class="flex justify-between mb-2 items-center">
              <div class="flex items-center">
                
                <p class="text-lg font-semibold"><i class="far fa-user"></i> {{ review.user.username }}</p>
              </div>
              <div class="flex items-center">
                {% for _ in review.rating|get_range %}
                <i class="fas fa-star text-yellow-500"></i> <!-- filled star -->
                {% endfor %}
                {% for _ in 5|get_range %}
                {% if forloop.counter > review.rating %}
                <i class="far fa-star text-gray-400"></i> <!-- empty star -->
                {% endif %}
                {% endfor %}
              </div>
            </div>
            <p class="text-gray-700 mt-2">{{ review.review }}</p>
            <p class="text-gray-500 text-sm mt-1">{{ review.date }}</p>
          </div>
        </div>
        {% empty %}
        <p>No reviews yet.</p>
        {% endfor %}
      </div>
    </div>
    
  
  <!-- Review form section -->
  {% if user_booked_product %}
  <div class="mt-8 p-6 shadow-lg rounded-lg bg-white">
      <h2 class="text-2xl font-semibold">Submit a Review <i class="far fa-edit text-blue-500"></i></h2>
      <form method="POST" class="mt-4">
          {% csrf_token %}
          <div class="mb-4">
              <label for="id_review" class="block text-lg font-semibold mb-2"><i class="fas fa-comment text-blue-500"></i> Your Review:</label>
              <textarea id="id_review" name="review" rows="4" class="w-full bg-gray-100 rounded-lg border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 transition duration-300"></textarea>
          </div>
          <div class="mb-4">
              <label for="id_rating" class="block text-lg font-semibold mb-2"><i class="fas fa-star text-yellow-500"></i> Rating:</label>
              {{ review_form.rating }}
          </div>
          <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300">Submit Review</button>
      </form>
  </div>
  {% endif %}
  
  
  
    
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        setMinDate();  // Set the minimum date as soon as the page loads
    
        document.getElementById('startDate').addEventListener('focus', setMinDate);  // Also set min date on focus
    });
    
    function setMinDate() {
        var today = new Date();
        var tomorrow = new Date(today);
        tomorrow.setDate(today.getDate() + 1);  // Set tomorrow as the minimum date
    
        var minDateString = tomorrow.toISOString().split('T')[0];
        document.getElementById('startDate').setAttribute('min', minDateString);  // Apply the minimum date to the input field
    }
    </script>
    
    <script>
      function checkAvailability(form) {
        event.preventDefault(); // Prevent the form from submitting immediately
      
        // Get the selected date from the form
        const selectedDate = new Date(form.querySelector('#startDate').value);
        const today = new Date();
        
        // Reset the time part of the dates for accurate comparison
        selectedDate.setHours(0, 0, 0, 0);
        today.setHours(0, 0, 0, 0);
      
        // Check if the selected date is today
        
      
        // Continue with the availability check if the date is not today
        const data = new FormData(form);
        fetch(form.action, {
          method: "POST",
          body: data,
          headers: {
            "X-CSRFToken": data.get("csrfmiddlewaretoken"), // Ensure CSRF token is sent
          },
        })
        .then((response) => response.json())
        .then((data) => {
          if (data.available) {
            Swal.fire(
              "Available!",
              "The product is available for booking.",
              "success"
            ).then((result) => {
              if (result.isConfirmed) {
                window.location.href = data.redirect_url;
              }
            });
          } else {
            Swal.fire(
              "Not Available",
              "Sorry, the product is not available.",
              "error"
            );
          }
          if (selectedDate.getTime() === today.getTime()) {
          Swal.fire(
            "Not Available for Today",
            "Same day booking is not available. You can book for tomorrow.",
            "error"
          );
          return false; // Stop the function here
        }
        })
        .catch((error) => 
          Swal.fire(
            "Login Required",
            "Please login before checking availability.",
            "info"
          )
        );
        return false; // Prevent the default form submission
      }
      </script>
      
  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
  {% for flashmsg in messages %}
  <script>
      alertify.set('notifier','position', 'top-right');
      alertify.success('{{ flashmsg }}');
  </script>
  {% endfor %}
  <script>
// Define functions in the global scope if they are called directly from HTML
function openModal(src) {
    const modal = document.getElementById('imageModal');
    const modalImage = document.getElementById('modalImage');
    modalImage.src = src;
    modal.classList.remove('hidden');
}

function closeModal() {
    const modal = document.getElementById('imageModal');
    modal.classList.add('hidden');
}

document.addEventListener('DOMContentLoaded', function () {
    const track = document.getElementById('carousel');
    let currentIndex = 0;

    function updateCarousel() {
        const width = track.clientWidth;
        track.style.transform = `translateX(-${currentIndex * width}px)`;
    }

    document.getElementById('next').addEventListener('click', function () {
        currentIndex = (currentIndex + 1) % track.children.length;
        updateCarousel();
    });

    document.getElementById('prev').addEventListener('click', function () {
        currentIndex = (currentIndex - 1 + track.children.length) % track.children.length;
        updateCarousel();
    });

    // Attach event listeners to each carousel image for opening the modal
    document.querySelectorAll('#carousel img').forEach(img => {
        img.addEventListener('click', function () {
            openModal(this.src);
        });
    });

    // Ensure carousel is correctly positioned initially and on window resize
    window.addEventListener('resize', updateCarousel);
    updateCarousel();  // Initial call to position carousel correctly
});

// Ensure closeModal is available globally if called from inline HTML
window.closeModal = closeModal;

    </script>
    
      

</body>
{% endblock %}
