{% extends 'base.html' %} {% load static tailwind_tags %} {% block title %}
Destinations
{% endblock %} {% tailwind_css %}
<link
  rel="stylesheet"
  href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"
/>
<!-- Default theme -->
<link
  rel="stylesheet"
  href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
{% block content %}

<body class="bg-gray-100">

  <div class="container mx-auto py-8 flex-col space-y-8">
    <!-- <div
      class="bg-white p-6 rounded-lg shadow-md grid grid-cols-1 md:grid-cols-2 gap-6 "
    > -->
      <!-- Product images -->
      <div class="flex justify-center bg-white p-6 rounded-lg shadow-md ">
        <div class="flex justify-center items-center mb-6 border w-3/5">
          {% if product.image %}
          <img
            src="{{ product.image.url }}"
            alt="Image of {{ product.title }}"
            class="rounded object-fit h-full shadow-lg w-full"
          />
          {% else %}
          <p>No images available.</p>
          {% endif %}
        </div>
      </div>

      <!-- Product details -->

      <!-- Check Availability section -->
  

    <!-- </div> -->
    <div class="flex flex-col space-y-5 md:flex-row md:space-x-5 md:space-y-0 justify-between ">
      <div class="bg-gray-200 p-5 flex flex-col flex-1 space-y-5 rounded-md">
        <h1 class = 'text-2xl'>Package Details</h1>
        <p class="text-gray-700 mb-2">{{ product.description }}</p>
        <div class = 'flex space-x-28 text-gray-600'>
          <div>
            <p>Category: {{product.category.title}}</p>
            
          </div>
          
          <div>
            <p>Vendor: {{ product.user }}</p>
            
          </div>
          
        </div>
        <h2 class = 'text-xl font-semibold'>Price: Rs.{{ product.price }}</h2>
        <div class = 'text-gray-600'>
          <p style="text-decoration: line-through ;">Original Price: <span style="text-decoration: line-through;">{{ product.old_price }}</span></p>

          <p class="text-red-500">Discount: <span>{{ product.get_percentage|default:"0"|floatformat:0 }}%</span></p>
        </div>

      </div>
      <!-- Check Availability -->
      <div class="flex flex-col justify-between w-fit md:w-1/2 mt-6 md:mt-0 bg-white p-5 rounded-md bg-gray-200">
        
        <form
          action="{% url 'check_availability' product.pid %}"
          method="POST"
          onsubmit="return checkAvailability(this);"
        >
          {% csrf_token %}
          <div class = 'mb-3'>
            <h2 class ='text-xl font-semibold'>Check Availability</h2>
          </div>
          <div class="mb-2">
            <label
              for="startDate"
              class="block text-gray-700 text-sm font-bold mb-2"
              >Check-in Date:</label
            >
            <input
              type="date"
              id="startDate"
              name="startDate"
              class="rounded-l-lg p-2 border border-gray-200 bg-white w-full"
              required
              onfocus="setMinDate()"
          />
          </div>
          <div class="mb-4">
            <label
              for="num_guests"
              class="block text-gray-700 text-sm font-bold mb-2"
              >Guests:</label
            >
            <input
              type="number"
              id="num_guests"
              name="num_guests"
              class="p-2 border-t border-b border-r border-gray-200 bg-white w-full"
              placeholder="Number of Guests"
              required
              min="1"
            />
          </div>
          {% if not user.is_authenticated %}
          <div
            class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
            role="alert"
          >
            <strong class="font-bold">Warning!</strong>
            <span class="block sm:inline">
              You must be logged in to check availability.</span
            >
          </div>
          {% endif %}
  
          <button
            type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-3"
          >
            Check Availability
          </button>
        </form>
        <div class="mt-4 text-gray-700 text-sm">
          <p>
            Enter your check-in date and number of guests to check availability.
          </p>
        </div>
      </div>
    </div>

    
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    function setMinDate() {
        var today = new Date();
        var tomorrow = new Date(today);
        tomorrow.setDate(today.getDate() + 1);

        var minDateString = tomorrow.toISOString().split('T')[0];
        document.getElementById('startDate').setAttribute('min', minDateString);
    }
</script>
  <script>
    function checkAvailability(form) {
      event.preventDefault(); // Prevent the form from submitting immediately
      const data = new FormData(form);
      fetch(form.action, {
        method: "POST",
        body: data,
        headers: {
          "X-CSRFToken": data.get("csrfmiddlewaretoken"), // Ensure CSRF token is sent
        },
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.available) {
            Swal.fire(
              "Available!",
              "The product is available for booking.",
              "success"
            ).then((result) => {
              if (result.isConfirmed) {
                window.location.href = data.redirect_url;
              }
            });
          } else {
            Swal.fire(
              "Not Available",
              "Sorry, the product is not available.",
              "error"
            );
          }
        })
        .catch((error) => console.error("Error:", error));
      return false; // Prevent the default form submission
    }
  </script>
</body>
{% endblock %}
