{% extends 'base.html' %}
{% load static tailwind_tags %}
{% block title %}
    Settings
{% endblock %}
{% tailwind_css %}  
    

{% block content %}
<body class="bg-gray-100">

<div class="flex flex-col md:flex-row h-screen">
    <!-- Sidebar -->
    <nav class="md:w-1/4 bg-gray-700 text-gray-100 py-10 px-4">
        <ul class="space-y-4">
            <li><a href="{% url 'settings' %}" class="block px-4 py-2 hover:bg-gray-700 hover:text-gray-300">Profile</a></li>
            <li><a href="{% url 'change_password' %}" class="block px-4 py-2 hover:bg-gray-700 hover:text-gray-300">Change Password</a></li>
            <li><a href="{% url 'delete_account' %}" class="block px-4 py-2 hover:bg-gray-700 hover:text-gray-300">Delete Account</a></li>
            <li><a href="{% url 'logout' %}" class="block px-4 py-2 hover:bg-gray-700 hover:text-gray-300">Logout</a></li>
        </ul>
    </nav>
    
    <!-- Profile Content -->
   <div class="md:flex-1 md:p-10">
    <div class="bg-white rounded-lg shadow-md p-6">
        <h2 class="text-xl font-semibold mb-4">Profile Information</h2>
        <div class="space-y-3">
            <div class="flex justify-between items-center border-b border-gray-200 py-2">
                <p class="text-gray-600 font-semibold">Name:</p>
                <p class="text-gray-800">{{ user.first_name }} {{ user.last_name }}</p>
            </div>
            <div class="flex justify-between items-center border-b border-gray-200 py-2">
                <p class="text-gray-600 font-semibold">Email:</p>
                <p class="text-gray-800">{{ user.email }}</p>
            </div>
            <div class="flex justify-between items-center py-2">
                <p class="text-gray-600 font-semibold">Username:</p>
                <p class="text-gray-800">{{ user.username }}</p>
            </div>
        </div>
    </div>
    
    <div class="inline-block bg-blue-500 text-white px-4 py-2 rounded mt-6 hover:bg-blue-700">
        <a href="{% url 'edit_profile' %}" class="block">Edit Profile</a>
    </div>
    
</div>

</div>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
{% for flashmsg in messages %}
<script>
    
        alertify.set('notifier','position', 'top-right');
        alertify.success('{{ flashmsg }}');
    
</script>
{% endfor %}
{% endblock %}
